[project]
	description = mes esaies en javascript
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dedrick Kitamuka (DedrickEnc)
[access "refs/for/refs/*"]
	read = group user/Dedrick Kitamuka (DedrickEnc)
	push = group user/Dedrick Kitamuka (DedrickEnc)
	label-Code-Review = -2..+2 group user/Dedrick Kitamuka (DedrickEnc)
	label-Verified = -1..+1 group user/Dedrick Kitamuka (DedrickEnc)
	rebase = group user/Dedrick Kitamuka (DedrickEnc)
	removeReviewer = group user/Dedrick Kitamuka (DedrickEnc)
	submit = group user/Dedrick Kitamuka (DedrickEnc)
[access "refs/heads/*"]
	read = group user/Dedrick Kitamuka (DedrickEnc)
	create = group user/Dedrick Kitamuka (DedrickEnc)
	push = +force group user/Dedrick Kitamuka (DedrickEnc)
	pushMerge = group user/Dedrick Kitamuka (DedrickEnc)
[access "refs/tags/*"]
	push = +force group user/Dedrick Kitamuka (DedrickEnc)
	pushTag = group user/Dedrick Kitamuka (DedrickEnc)
	pushSignedTag = group user/Dedrick Kitamuka (DedrickEnc)
